/** Common styles for posts on all pages */
.post {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 4rem auto;
  word-break: break-word;
  hyphens: auto;

  .post-title {
    margin: 0;
  }

  .post-title a {
    text-decoration: none;
  }

   .post-meta {
    display: inline-block;
    margin: 0 0 5px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0rem;
    color: $color-post-meta;

  }

  .post-meta a {
    color: $color-post-meta-link;
    text-decoration: none;
  }

  .post-meta a:hover {
    text-decoration: underline;
  }

  .user-meta {
    position: relative;
    padding: 0.3rem 40px 0 100px;
    min-height: 77px;
  }

  .user-image {
    position: absolute;
    top: 0;
    left: 0;
  }

  .user-name {
    display: block;
    font-weight: bold;
  }

  .user-bio {
    display: block;
    max-width: 440px;
    font-size: 1.4rem;
    line-height: 1.5em;
  }

  .publish-meta {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4.3rem 0 4rem 0;
    text-align: right;
  }

  .publish-heading {
    display: block;
    font-weight: bold;
  }

  .publish-date {
    display: block;
    font-size: 1.4rem;
    line-height: 1.5em;
  }
}


